<!--<section class="artistpage" [hidden]="usersList.length !== 0">
    <div class="search">
        <h1>No Contacts available</h1>
    </div>        
</section>-->

<section class="artistpage">
  <div class="search">
    <h1>Contacts List</h1>
    <label>search: </label>
    <input type="text" placeholder="Search for userList" autofocus>

    <label class="formgroup">by:
      <select>
        <option value="Name" selected>Name</option>
        <option value="PhoneNumber">Number</option>
      </select>
    </label>

    <label class="formgroup">
      <input type="radio" ng-model="direction" name="direction" checked>
      ascending
     </label>
    <label class="formgroup">
      <input type="radio" ng-model="direction" name="direction" value="reverse">
      descending
    </label>
   
  </div>
  <ul class="artistlist">
    <li class="artist cf" *ngFor="let item of usersList; let i = index">
      <a href="/user/{{item._id}}">
        <div class="info">
          <h1>{{item.Name}}</h1>
          <h2>{{item.PhoneNumber}}</h2>
        </div>
      </a>
    </li>
  </ul>  
</section>